
.form-homes h2 {
  color: #636363;
  font-family: 'Raleway', sans-serif;
}

#cards-consumption {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

#map {
  border-radius: 3px;
}
