<div class="container">
  <p>Ajouter un nouveau projet</p>

  <%= link_to "Nouveau projet", new_home_path, class: 'btn btn-primary' %>

  <p>liste de tous les projets ici:</p>
  <%@homes.each do |home|%>
    <%= home.address%>
    <%= home.home_consumption_months%>
  <%end%>
</div>
