<p>hello fron "<%=@home.address%>" show</p>

<p>ajouter une nouvelle installation solaire</p>
<%= link_to "Nouvelle installation", new_home_photovoltaic_path(@home), class: 'btn btn-primary' %>

<p>Scénarios d'installation :</p>
 <%@photovoltaics.each do |photovoltaic|%>
    <p>puissance :</p>
    <%= photovoltaic.power%>
  <%end%>
